{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
