name: Build/release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run test
      - run: pnpm run build

  deployment:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/main'
    strategy:
      matrix:
        target: ['FIREFOX', 'CHROME']
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'

      - run: pnpm install

      - name: build extension
        run: TARGET=${{ matrix.target }} pnpm run complete

      - name: Get VERSION
        run: |
          echo "VERSION=$(awk -F'"' '/"version": ".+"/{ print $4; exit; }' package.json)" >> $GITHUB_ENV

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: aria2_integration_extension_${{ matrix.target }}_${{ env.VERSION }}
          path: artifacts/aria2_integration_extension-${{ env.VERSION }}.zip
